.card {
    text-align: center;
    border: 2px inset #047ec4;
    border-radius: 2rem;
}

.card .card-content {
    padding: 0 0 0.50rem 0;
    font-weight: bolder;
    text-align: center;
}

.btnAdd2Cart {
    font-weight: bolder;
    text-align: center;
    margin: 0.2rem 0.1rem 0.4rem 0.1rem;
    padding: 0.3rem 3rem;
    background-color: #047ec4;
    border-radius: 1rem;
    border: 1px solid black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.589));
}

.btnAdd2Cart:hover {
    cursor: pointer;
    background-color: #086397;
}